// === Theme ===
$theme-color: #0a1930;

// == Colors ==
$primary-color: #a6b1cf;
$body-background-color: $theme-color;
$secondary-color: #ccd7f7;
$ternary-color: #7be8d6;
$terciary-color: #112240;

// == Fonts ==
$text-font-thin: "SF UI Display Thin";
$text-font-ultra-light: "SF UI Display Ultralight";
$text-font-light: "SF UI Display Light";
$text-font-medium: "SF UI Display Medium";
$text-font-semi-bold: "SF UI Display Semibold";
$text-font-bold: "SF UI Display Bold";
$text-font-heavy-bold: "SF UI Display Heavy";
$text-font-black: "SF UI Display Black";

// == Sizes ==
