.v-text-field--outlined fieldset {
  border-color: #d6dce4 !important;
}

.theme--light.v-stepper
  .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error)
  .v-stepper__step__step {
  background-color: white !important ;
  border: solid 1px #d6dce4 !important;
}

.theme--light.v-input {
  font-family: 'Metropolis Medium';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #868c99 !important;
}

.theme--light.v-subheader {
  color: #1e1e1e !important;
}

.v-subheader {
  color: #1e1e1e !important;
  font-family: 'Metropolis Medium';
  font-size: 16px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a1930;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8891b0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon,
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn,
.theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  color: #a6b1cf !important;
}