// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$stepper-header-elevation: 0 !default;
$stepper-elevation: 0 !default;
$stepper-alt-labels-flex-basis: 275px !default;
$stepper-alt-labels-header-divider: 30px -132px 0 !default;
$text-field-outlined-fieldset-border: 1px solid currentColor !default;
$stepper-step-step-min-width: 12px !default;
$stepper-step-step-width: 12px !default;
$stepper-step-step-height: 12px !default;
$expansion-panel-content-padding: 0 0px 16px !default;

